
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {
     .landing-wrap {
      width: 95%;
      .meio{}
    }

    .futuur_slogan { font-size: 82px !important; line-height: 75px !important; }
    article { font-size: 16px !important;}

    .sendgrid-subscription-widget {
      position: initial !important; bottom: 0 !important; align-self: initial !important;
      input[type="submit"] { display: inline-block !important; width: 205px !important; margin-top: 20px !important; background-image: none !important; padding: 0 20px !important;  }
      input[type="email"] { width: 50% !important; }
    }

    .landing_content .sendgrid-subscription-widget label:before {display: none !important;}

    .landing__login {margin-bottom: 40px !important;}
  }


@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

  .lightbox- .lightbox--content {
    width: 100%; padding: 100px 20px 80px 20px;
    h1 {font-size: 20px;}
    p {font-size: 16px; width: auto; }
  }

  .landing-wrap {
    width: 100%; height: auto; justify-content: center !important;
    .meio{
      width: 100%;
      &.left, &.right { float: none;}
    }
  }

  .vertical { padding: 20px; }

  .landing__login { margin-right: auto; margin-bottom: 0;}
  .futuur_slogan { font-size: 32px !important; line-height: 36px !important; }
  .sendgrid-subscription-widget {
    position: none !important; bottom: 0 !important;
    input { float: none !important; width: 80% !important; display: inline-block; margin: 0 auto !important; margin-top: 20px !important; text-align: center;}
    input[type="email"] {width: 100% !important;}
  }
  form {display: -webkit-flex; display: flex; flex-wrap: wrap; align-items: center; justify-content: center; margin-bottom: 100px;}
  label {
    &:after { display: none; }
  }
  .landing_content .sendgrid-subscription-widget label:before {display: none !important;}
}
