::selection{
  background:#333;
  color:#fff;
  text-shadow:none;
}
::-moz-selection{
  background:#333;
  color:#fff;
  text-shadow:none;
}
::-webkit-selection{
  background:#333;
  color:#fff;
  text-shadow:none;
}


@mixin linear-gradient($direction, $color-stops...) {
  // Direction has been omitted and happens to be a color-stop
  @if is-direction($direction) == false {
    $color-stops: $direction, $color-stops;
    $direction: 180deg;
  }

  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

@function legacy-direction($value) {
  @if is-direction($value) == false {
    @error "Cannot convert `#{$value}` to legacy syntax because it doesn't seem to be a direction.";
  }

  $conversion-map: (
    to top          : bottom,
    to top right    : bottom left,
    to right top    : left bottom,
    to right        : left,
    to bottom right : top left,
    to right bottom : left top,
    to bottom       : top,
    to bottom left  : top right,
    to left bottom  : right top,
    to left         : right,
    to left top     : right bottom,
    to top left     : bottom right
  );

  @if map-has-key($conversion-map, $value) {
    @return map-get($conversion-map, $value);
  }

  @return 90deg - $value;
}



/**** ANIMATION ****/

/*** Outcome Update ***/


.bounce-animation{
  animation: bounceAnimation linear 1s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: bounceAnimation linear 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: bounceAnimation linear 1s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: bounceAnimation linear 1s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: bounceAnimation linear 1s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}




@keyframes bounceAnimation {
  0% {
    -webkit-transform:    scaleX(1.00) scaleY(1.00) ;
  }
  7% {
    -webkit-transform:    scaleX(1.00) scaleY(1.00) ;
  }
  9% {
    -webkit-transform:    scaleX(1.20) scaleY(1.20) ;
  }

  20% {
    -webkit-transform:    scaleX(1.00) scaleY(1.00) ;
  }

  100% {
    -webkit-transform: scaleX(1.00) scaleY(1.00) ;
  }
}

.bounce-color{
  animation: bounceColor linear 1s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: bounceColor linear 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: bounceColor linear 1s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: bounceColor linear 1s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: bounceColor linear 1s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}


@keyframes bounceColor {
  0% {
    -webkit-transform:    scaleX(1.00) scaleY(1.00) ;
    background-color: $color-grey1;
  }
  7% {
    -webkit-transform:    scaleX(1.00) scaleY(1.00) ;
    background-color: $color-grey5;
  }
  9% {
    -webkit-transform:    scaleX(1.20) scaleY(1.20) ;
    background-color: $color-grey1;
  }

  20% {
    -webkit-transform:    scaleX(1.00) scaleY(1.00) ;
    background-color: $color-grey1;
  }

  100% {
    -webkit-transform: scaleX(1.00) scaleY(1.00) ;
    background-color: $color-grey1;
  }
}


.spread-animation{
  animation: spreadAnimation linear 1s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: spreadAnimation linear 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: spreadAnimation linear 1s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: spreadAnimation linear 1s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: spreadAnimation linear 1s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}




@keyframes spreadAnimation {
  0% {
    -webkit-transform:    scaleX(1.00) scaleY(1.00) ;
    opacity: 0.3;
    background-color: $color-black;
  }
  7% {
    -webkit-transform:    scaleX(2.00) scaleY(2.00) ;
    opacity: 0.2;
    background-color: $color-grey5;
  }
  9% {
    -webkit-transform:    scaleX(3.30) scaleY(3.30) ;
    opacity: 0.15;

  }
  10% {
    -webkit-transform:    scaleX(9.45) scaleY(9.45) ;
    opacity: 0.012;
  }
  15% {
    -webkit-transform:    scaleX(12.00) scaleY(12.00) ;
    opacity: 0.1;
  }

  100% {
    -webkit-transform:    scaleX(13.00) scaleY(13.00) ;
    opacity: 0;
  }
}

