/* --- Path --- */
@img: '../img/';


/* --- Colors --- */

$blacky: #000000;
$grey1: #0F2834;
$grey2: #4C626D;
$grey3: #A6B6BD;
$grey4: #C2CED1;
$grey5: #EDEFED;
$whitey: #FFFFFF;

$blue: #1591ED;
$lilac: #5361C4;
$purple: #8241AD;
$magenta: #B12197;
$pinky: #e3068f;



